html, body { 
    margin: 0; 

    width: 100%;
    height: 100%;
} 
        
.container-div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin: 0;
    gap: 0;
    height: 97vh;
    width: 50vw;
}

.child-div { 
    background-color: aqua;
    flex: 1;
}

/*.child-div:nth-child(16n) {
    display: block;
    background-color: bisque;
}*/

.new-display {
    background-color: rgb(202, 144, 202);
}

.line-div {
    flex: 1;
    display: flex;
    margin: 0;
    gap: 0;
}