body  { 
    margin: 0; 
    padding: 0;  
} 
        
.container-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    gap: 0;

}

.child-div {
    flex: 1;
    height: 50px;
    width: 50px;
    background-color: aqua;
}

/*.child-div:nth-child(16n) {
    display: block;
    background-color: bisque;
}*/

.new-display {
    background-color: plum;
}

.line-div {
    display: flex;
    flex: 1;
    margin: 0;
    gap: 0;
}